@model IEnumerable<PSIProject.Models.Auctions.Auction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeBegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTimeEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DirectSell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyNowPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipmentCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeBegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTimeEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DirectSell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyNowPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipmentCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
